.button
  transition all .25s ease-in-out
  text-decoration none
  font-family inherit
  font-size inherit
  line-height inherit
  display inline-block
  border-radius 23px
  border 1px solid #dfdfdf
  background-color #fff
  padding 11.5px 28px
  color #134579
  font-weight bold
  cursor pointer
  
  &:hover
    background-color #f1f4f6
  
  &--primary
    background-color #ea6721
    border-color #ea6721
    color #fff
    
    &:hover
      background-color #df570d
    
  &--fullwidth
    display block
    width 100%