.cases
  display flex
  flex-wrap wrap
  
  &__item
    border 1px solid #dfdfdf
    width 50%
    padding 92px 0
    
    &:nth-child(even)
      border-left-color transparent
      
    &:nth-child(n + 3)
      border-top-color transparent