.header
  display flex
  align-items center
  height 95px
  padding 0 24px
  
  &__item
    margin-left 20px
    
    &:first-child
      margin-left 0
    
    &--fullheight
      align-self stretch
    
    &--pulled
      margin-left auto