.input
  transition all .25s ease-in-out
  border 1px solid #d8dbdf
  background-color #f1f4f6
  font-family inherit
  font-size inherit
  line-height inherit
  border-radius 23px
  display block
  width 100%
  padding 11.5px 28px
  color #134579
  resize vertical
  min-height 49px