.lead
  background no-repeat center center url('img/lead.png')
  background-size cover
  position relative
  height calc(100vh - 95px)
  max-height 751px
  min-height 665px
  
  &__inner
    position absolute
    top 11.45%
    left 0
    width 100%
    text-align center
    
  &__item
    margin 10px 0