*
  &, &:before, &:after
    box-sizing border-box
    
  &:focus
    outline none
    
  &:first-child
    margin-top 0 !important
    
  &:last-child
    margin-bottom 0 !important

html, body
  width 100%
  height 100%
  margin 0
  padding 0
  
body
  font-family Rubik, sans-serif
  font-size 16px
  line-height 1.5